[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "adjSURVCI"]
	path = adjSURVCI
	url = https://github.com/cran/adjSURVCI
	shallow = true
	registered = true
